@mixin content-center {
  display: flex;
  justify-content: center;
}

@mixin b-radius-3 {
  border-radius: 3px;
}

@mixin profile-image {
  height: 60px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
}
