$font-size: (
  "big": 40px,
  "medium": 25px,
  "small": 18px,
);

$colours: (
  "primary": #e75555,
  "secondary": #fbfbfb,
  "background": #e9e9e9,
);

$font-size-mobile: (
  "big": 34px,
  "medium": 20px,
  "small": 16px,
);
