*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$colours: (
  "primary": #e75555,
  "secondary": #fbfbfb,
  "background": #e9e9e9,
);

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav {
  background-color: map-get($colours, primary);
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;

  & a {
    color: white;
  }

  & .logo i {
    font-size: 3rem;
  }

  & .logo span {
    font-size: 1.7rem;
  }

  & .navbar {
    align-items: center;
    font-size: 1.5rem;
  }

  & ul {
    display: flex;
    color: white;
    align-items: center;

    & li {
      margin-left: 50px;
    }
  }

  & img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
  }

  & .profile-active {
    border: 2px solid white;
  }
}

body {
  background-color: map-get($colours, background);
}
